.signinsignup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  & > * {
    flex: 0 1 45%;
    min-width: 400px;
    & > h2 {
      padding: 0;
      margin: 0;
    }
  }
}
