.logo {
  width: 150px;
  height: auto;
  margin: 5px 30px;
}

.nav {
  width: 100%;
  background-color: #0fabbc;
  border-bottom: 10px solid #b2ebf2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  > * {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    display: block;

    &:last-child {
      padding-right: 50px;
    }

    &:hover {
      color: #b2ebf2;
      background-color: #096f7a;
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
}
