@import "../../common-variables";

.schedule-table {
  display: grid;
  grid-template-columns: 100px 80px 20% 80px 15% 70px auto 30px 30px 60px;
  grid-template-rows: auto;
  width: 100%;

  &:nth-child(odd) {
    background-color: #fafafa;
    border-bottom: 1px solid $color-light;
  }

  .schedule-table-header {
    @include label;
    background-color: white;
  }

  .schedule-table-cell {
    @include cell-text;
    border-right: 1px solid $color-light;

    &:nth-child(n + 10):nth-child(-n + 20) {
      background-color: #fafafa;
      border-bottom: 1px solid $color-light;
    }
  }
}

form.schedule-table {
  select {
    height: 30px;
    @include cell-text;
    padding: 3px 0;
    background-color: $color-lightest;
    border: 0;
    border-bottom: 1px solid #8d99ae;
    font-size: 0.8em;
  }

  .double-input {
    display: flex;
    flex-direction: row;

    .inputgroup {
      width: 50%;
    }
  }
}
