@import "../../common-variables";

.addClassForm {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;

  select {
    height: 50px;
    flex: 1 1 auto;
    width: auto;
    padding: 4px;
    background-color: $color-lightest;
    border: 0;
    border-bottom: 1px solid #8d99ae;
    font-size: 0.8em;
  }

  .inputgroup {
    flex: 1 1 auto; // flex-grow, flex-shrink, flex-basis
    margin-right: 0;
    min-width: 80px;

    input[type="time"] {
      &::-webkit-datetime-edit-fields-wrapper {
        padding: 0;
        display: flex;
      }

      &::-webkit-datetime-edit-text,
      &::-webkit-datetime-edit-hour-field,
      &::-webkit-datetime-edit-minute-field {
        padding: 0 2px;
      }

      &::-webkit-datetime-edit-ampm-field {
        display: block;
      }

      &::-webkit-calendar-picker-indicator,
      &::-webkit-clear-button,
      &::-webkit-inner-spin-button,
      &::-webkit-clear-button,
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
  }
}

.schedule-table {
  width: 100%;
  tr {
    &:nth-child(odd) {
      background-color: $color-lightest;
    }
    th {
      @include label;
      background-color: white;
    }
    td {
      text-align: center;
      min-width: 80px;
      padding: 8px;
      font-size: 0.8em;
      color: $color-darkest;
      &.text-left {
        text-align: left;
      }
      &.wide {
        width: auto; // flex-grow, flex-shrink, flex-basis
      }
    }
  }
}
