@import "../../_common-variables.scss";

.footer {
  background-color: $color-light;
  border-top: 15px solid $color-special-light;
  padding: 5px 20px;
  display: flex;
  justify-content: space-evenly;

  * {
    margin: 20px;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
  }
}
