@import "../../common-variables";

.inputgroup {
  margin-bottom: 10px;

  input {
    @include cell-text;
    width: 100%;
    height: 30px;
    background-color: $color-lightest;
    border: 0;
    border-bottom: 1px solid $color-dark;
  }

  .label {
    @include label;
  }
}
