@import "../../common-variables";

.custombutton {
  padding: 0 20px;
  min-width: 150px;
  border: 1px solid $color-attention-light;
  height: 30px;
  color: $color-lightest;
  background-color: $color-attention-light;
  font-size: 0.8em;
  margin-right: 20px;
  margin-bottom: 10px;

  &.edit,
  &.delete {
    width: 30px;
    min-width: 30px;
    margin: 0;
    padding: 0;
  }
  &.save {
    width: 60px;
    min-width: 60px;
    margin: 0;
    padding: 0;
  }

  &.edit {
    background-color: $color-special-dark;
    border: 1px solid $color-special-light;
    &:hover {
      border: 1px solid $color-special-dark;
      color: $color-special-dark;
    }
  }

  &:hover {
    color: $color-attention;
    border: 1px solid $color-attention;
    background-color: white;
  }
}
